[submodule "EtherWallet/lib/forge-std"]
	path = EtherWallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "piggyBank/lib/forge-std"]
	path = piggyBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
